.app__header {
    background-color: var(--color-black);
}

.app__header-h1 {
    font-family: 'Tomorrow', sans-serif;
    /* font-family: var(--font-base); */
    color: var(--color-golden);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    line-height: 100px;
    font-size: 70px;
}

.p__introduce {
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: var(--color-white);
    margin-top: 40px;
}